<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <img class="footer-logo" src="assets/images/footer/logoonline.png" alt="logo" />
          <ul class="social-media mb-3">
            <li>
              <a href="#">
                <i class="mdi mdi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/c/BharataOnline" target="_blank">
                <i class="mdi mdi-youtube"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/radiobharata_tw" target="_blank">
                <i class="mdi mdi-twitter"></i>
              </a>
            </li>
            <li>
              <a href="mailto:bharatasosmed@gmail.com">
                <i class="mdi mdi-email"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/radiobharata_ig/" target="_blank">
                <i class="mdi mdi-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.tiktok.com/@radiobharata_tiktok" target="_blank">
                <i class="material-icons yellow-color" style="width: 22px; height: 14px">tiktok</i>
              </a>
            </li>
          </ul>
          <div class="footer-bottom">
            <a class="fs-16 font-weight-700" style="color: dimgray" href="#"><span>Privacy Policy</span></a>
            <a class="fs-16 font-weight-700" style="color: dimgray" href="#">Advertisement</a>
            <p class="fs-14 font-weight-600" style="color: dimgray">© Copyright @ <a href="https://bharataradio738.com/" target="_blank">Radio Bharata Online</a>. All rights reserved.</p>
          </div>
        </div>
        <div class="col-sm-2">
          <h3 class="font-weight-bold mb-2" style="color: dimgray">POADCAST</h3>
          <ul class="footer-links">
            <li><a href="#" target="_blank">Data Dalam Fakta</a></li>
            <li><a href="#" target="_blank">Jendela Inspirasi</a></li>
            <li><a href="#" target="_blank">Kisah Dan Motivasi</a></li>
            <li><a href="#" target="_blank"> Cerita Rakyat</a></li>
            <li><a href="#" target="_blank">Pariwisata</a></li>
            <li><a href="#" target="_blank">Jelajah Budaya</a></li>
            <li><a href="#" target="_blank">Asal Usul</a></li>
            <li><a href="#" target="_blank">Profil Tokoh</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h3 class="font-weight-bold mb-2" style="color: dimgray">Program Acara</h3>
          <ul class="footer-links">
            <li><a href="#" target="_blank">Semangat Pagi</a></li>
            <li><a href="#" target="_blank">Zona Siang</a></li>
            <li><a href="#" target="_blank">Beranda Sore</a></li>
            <li><a href="#" target="_blank">Nuansa Akhir Pekan</a></li>
            <li><a href="#" target="_blank">Pelangi Bharata</a></li>
            <li><a href="#" target="_blank">Cafe Bharata</a></li>
            <li><a href="#" target="_blank">Trending Topik</a></li>
            <li><a href="#" target="_blank">Warna Warni</a></li>
            <li><a href="#" target="_blank">Batik</a></li>
            <li><a href="#" target="_blank">Orbit</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h3 class="font-weight-bold mb-2" style="color: dimgray">Kategori</h3>
          <ul class="footer-links">
            <li><a href="#">Indonesia</a></li>
            <li><a href="#">International</a></li>
            <li><a href="#">Tiongkok</a></li>
            <li><a href="#">Ekonomi</a></li>
            <li><a href="#">Olahraga</a></li>
            <li><a href="#">Sosial Budaya</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>