.logoAtas img {
  display: block;
  margin: auto;
  width: 25%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: -30px;
}

.post-title a {
  color: var(--gray);
}

.title-berita {
  color: var(--gray);
}
.title-berita:hover {
  color: #212631;
  text-decoration: underline;
  outline: none;
}
.berita {
  color: #3a3a3a;
  font-weight: 600;
}

.title-yt {
  margin-top: -22px;
}

h5 .latest-news a {
  color: var(--gray);
}

/* dropdown */
.nav-item:hover .nav-dropdown {
  display: block;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 999;
  margin: auto;
  top: 55px;
  left: 380px;
  width: 200px;
  padding-bottom: 10px;
  border-radius: 3px;
  font-size: medium;
  font-weight: 700;
}
.nav-dropdown a {
  display: block;
  margin: auto;
  padding: 10px;
  padding-top: 13px;
  color: white;
  text-decoration: none;
}
.nav-dropdown a {
  background-color: var(--primary);
  color: var(--white);
}
.nav-dropdown a:hover {
  background-color: var(--yellow);
}

/* courosel */

.carousel-inner img {
  width: auto;
  height: auto;
  margin: auto;
  margin-bottom: 25px;
}
/* footer */

.footer-bottom .col h3 {
  text-align: center;
}

.footer-links {
  margin: auto;
}

.footer-links li a {
  margin: 10px 0 0 0;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: darkgray;
}
.footer-links li a:hover {
  margin: auto;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  color: dimgray;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-eye::before {
  content: "\f06e";
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* berita lainnya */
