.logoAtas img {
  display: block;
  margin: auto;
  width: 25%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: -25px;
}

.post-title a {
  color: var(--gray);
}

.title-berita {
  color: var(--gray);
}
.title-berita:hover {
  color: #212631;
  text-decoration: underline;
  outline: none;
}
.berita {
  color: #3a3a3a;
  font-weight: 600;
}

.title-yt {
  margin-top: -22px;
}

h5 .latest-news a {
  color: var(--gray);
}

/* dropdown */
.nav-item:hover .nav-dropdown {
  display: block;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 999;
  margin: auto;
  top: 55px;
  left: 380px;
  width: 200px;
  padding-bottom: 10px;
  border-radius: 3px;
  font-size: medium;
  font-weight: 700;
}
.nav-dropdown a {
  display: block;
  margin: auto;
  padding: 10px;
  padding-top: 13px;
  color: white;
  text-decoration: none;
}
.nav-dropdown a {
  background-color: var(--primary);
  color: var(--white);
}
.nav-dropdown a:hover {
  background-color: var(--yellow);
}

/* img */
.grid-margin img {
  display: flex;
  margin: auto;
}

.grid-margin audio {
  max-width: 100%;
  display: flex;
  margin: auto;
}

/* program acara */
.post-meta {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.search-box {
  display: flex;
  top: 50%;
  left: 50%;
  background: var(--white);
  border-radius: 40px;
}
.search-box:hover > .search-txt {
  width: 170px;
  padding: 0 6px;
  top: 50px;
  left: 20px;
  opacity: 0.8;
}
.search-box:hover > .search-btn {
  background: var(--black);
  color: var(--white);
}
.search-btn {
  color: var(--dark);
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
  opacity: 0.8;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: var(--dark);
  font-size: 16px;
  font-weight: 400;
  transition: 0.6s ease-in-out;
  line-height: 30px;
  width: 0px;
}
/* icons */
.post .icons li a {
  display: flex;
  top: 0px;
  left: 0px;
  color: var(--dark);
  list-style: none;
  border: 1px solid black;
}
/* footer */

.footer-bottom .col h3 {
  text-align: center;
}

.footer-links {
  margin: auto;
}

.footer-links li a {
  margin: 10px 0 0 0;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: darkgray;
}
.footer-links li a:hover {
  margin: auto;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  color: dimgray;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-eye::before {
  content: "\f06e";
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.test {
  position: fixed;
  margin-block-start: auto;
  margin-left: -66px;
  list-style: none;
  z-index: 1;
}
